## Numpy 계산해보기

In [1]:
import numpy as np     # Numpy 라이브러리 호출

weight_vector = np.array([[1], [1], [1]])    # Weight Vector
x_vector = np.array([[3], [4], [5]])

In [2]:
weight_vector.T.dot(x_vector)        # 1 * 3 + 1 * 4 + 1 * 5 = 12

array([[12]])

In [3]:
import pandas as pd

data_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data"                                   # Data URL
df_data = pd.read_csv(data_url, sep = '\s+', header = None)                                                                  # csv 타입 데이터 로드, separate는 빈 공간(Blank가 여러 개 있으면 sep으로 봐라!)으로 지정하고, Column은 없음
df_data.columns = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']   # Column Header 이름 지정
df_data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [4]:
df_data['weight_0'] = 1                    # weight 0(X0) 값 추가
df_data = df_data.drop("MEDV", axis = 1)   # Y값 제거
df_data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,weight_0
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,1
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,1
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,1
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,1
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,1

In [5]:
df_data.shape

(506, 14)

In [11]:
df_matrix = df_data.values                        # Matrix Data로 변환하기
weight_vector = np.random.random_sample((14, 1))  # 임의의 값 생성
y = df_matrix.dot(weight_vector)                  # (506 X 14) * (14 X 1) = (506 X 1)
y.shape

(506, 1)

In [13]:
y[:5]

array([[626.8789343 ],
       [596.07795923],
       [579.28605434],
       [556.01299371],
       [564.32603323]])